@model IEnumerable<DoAnWeb.Models.EF.ProductCategory>

@if (Model != null && Model.Any())
{
    <ul class="sidebar_categories">
        <li>
            <a href="/san-pham" style="margin-left: -16px; font-size: 17px; ">
                <span><i class="fa fa-angle-double" aria-hidden="true"></i></span>Tất cả
            </a>
        </li>
        @foreach (var item in Model)
        {
            if (ViewBag.CateId == item.id)
            {
                <li class="active">
                    <a href="/danh-muc-san-pham/@item.alias-@(item.id)">
                        <span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
                        @item.title
                    </a>
                </li>
            }
            else
            {
                <li>
                    <a href="/danh-muc-san-pham/@item.alias-@(item.id)">
                        @item.title
                    </a>
                </li>
            }
        }
    </ul>
}


